/************************************** 
Default page style for 
box-sizing, padding, margin  
**************************************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/************************************** 
Default body style for
font-family, margin
**************************************/
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/************************************** 
Set header style 
**************************************/
header div {
  padding: 10px;
}

/************************************** 
Set card style for header fields
scoreLink, timeLeft
**************************************/
#scoreLink {
  color:rgb(77, 1, 77);
  float:left;
}
#scoreLink:hover {
  color:plum;

}
#timeLeft {
  color:green;
  float:right;
}


/************************************** 
Set button style for class
.btn
**************************************/
.btn {
  border: none;
  background-color: rgb(77, 1, 77);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-size: 22px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
}

/************************************** 
Set button additional style for answer
buttons. The answer buttons should all
be the same size
**************************************/
.answers .btn {
  display:block;
  width:30%;
  text-align:left;  
}

/************************************** 
Set button color when hovering
**************************************/
button:hover {
  cursor: default;
  background:plum;
}

/************************************** 
Set card style for class
.card
**************************************/
.card {
  padding: 30px 40px;
  visibility: hidden;
  position:absolute;
  top:50px;
}

/************************************** 
Set card body style for class
.card-body
**************************************/
.card-body {
  min-height: 100px;
}

/************************************** 
Set additional style for the start card
**************************************/
#startCard {
  text-align: center;
  visibility: visible;
}


/************************************** 
Set style for scores in the high score section
**************************************/
.score {
  background-color:plum;
  list-style-position:inside;
} 

/************************************** 
set media settings for  
tablet and phone
**************************************/ 
@media (max-width: 800px) 
{
  .btn 
  {
    font-size: 12px;
    padding: 8px 8px;
  }
}

@media (max-width: 500px) 
{
  .btn 
  {
    font-size: 8px;
    padding: 5px 5px;
  }
}

